*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
h1{
    font-family: fantasy;
    font-size: 6rem;
    padding: 20px;
    /* position: absolute; */
}
.about{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}